*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.page1 h1{
    font-size: 8vw;
    font-weight: 700;
    line-height: 8vw;
}
.page1 .heading{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.heading h2{
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 20px;
    font-weight: 500;
    padding: 5px 10px;
}

.moving-div{
    margin-top:15vh;
    /* height: 10vh; */
    position: relative;
    display: flex;
    white-space: nowrap;
    width: 50%;
    padding: 1.5vw;
    overflow: hidden;
}

.moving-div .move{
    display: flex;
    justify-content: center;
    gap: 2vw;
    white-space: nowrap;
    z-index: 1;
}

.moving-div .move img{
    height: 1.5vw;
    z-index: 1;
}



.blur-left{
    height: 100%;
    width: 30%;
    /* margin-right: 50vw; */
    /* background: linear-gradient(to left, transparent,#111);     */
    background: linear-gradient(to right,#111,transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}


.blur-right{
    height: 100%;
    width: 30%;
    /* margin-right: 50vw; */
    background: linear-gradient(to right, transparent,#111);    
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}


.page3{
    height: 100vh;
    width: 100%;
    background-color: #111;
}

.page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    padding:0vw 5vw;
    color: #fff;
}

.page2-left p{
    margin-top: 5vh;
    
}

.page2 .btn{
    height: 3.5vw;
    border-radius: 30px;
    margin-top: 5vh;
    font-size: large;
    border: none;
    cursor: pointer;
    width: 15vw;
    background-color: rgb(106, 106, 255);
}

.page2-rightpart{
 height: 80vh;
 width: 60%;
}

.page2-rightpart p{
    font-size: xx-large;
}

.page2-rightpart .line{
    margin-top: 10vh;
    width: 100%;
    background-color: #fff;
    height: 1.5px;
}

.page2-rightpart .uiux{
    font-size:6vh;
    padding: 1vw 0vw;
    margin-bottom: 10vh;
}

.page2-sliding .line{
    height: 1px;
    background-color: #afafaf;
}
.page2-container{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    border-top: 1px solid #fff;
    padding: 6vh 0vh;
}

.page2-container p{
  font-size: 18px;
  width: 80%;

}
.page2-sliding{
    overflow: hidden;
}

.page2-container h2{
    font-weight: 600;
}


.page2-sliding .over{
    height: 25vh;
    overflow: hidden;
    width: 54%;
    background-color: #9c9c9c1f;
    position: absolute;
    opacity: 0;
}

.page2-container:hover{
    background-color: #5b5b5b2f;
}

.page4{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
   color: black;    
}

.page4 .page4-left{
    height: 100%;
    width: 30%;
}

.page4 .page4-right{
    width: 70%;
}
.page4-left .btn{
    margin-left: 5vw;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40vh;
    height: 9vh;
    width: 17vw;
    background-color:rgba(83, 83, 255, 0.938);
    border: none;
    border-radius: 30px;
    font-size: 17px;
}

.page4-right h1{
    font-size: 13vh;
    line-height: 13vh;
    margin-top: 5vh;
}
.page4-right p{
    margin-top: 10vh;
    width: 70%;
    font-size: 25px;
}

.page5{
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

.page4-left .blue-btn{
    margin-left: 5vw;
    margin-top: 40vh;
    height: 4vw;
    border-radius: 30px;
    width: 18vw;
    background-color: rgb(91, 91, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-btn h4{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
}